.modal {
    width: 25%;
    border: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 20px;
    z-index: 1;
    box-sizing: border-box;
    padding: 0;
    display: initial;
}

.delete-modal-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
}

.delete-modal-title {
    margin: 0;
}

.close {
    color: #94A3B8;
    font-size: 20px;
    border: none;
    background: none;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    transform: scale(1.05);
}

.delete-modal-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 20px 20px 20px;
    box-sizing: border-box;
}

.delete-modal-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    padding: 0 20px 20px 20px;
    box-sizing: border-box;
}

.delete-action-button {
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #E0E7EF;
}

.delete-action-button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.cancel {
    background-color: white;
    font-weight: bold;
    color: #63738A;
}

.delete {
    background-color: #e14242;
    font-weight: bold;
    color: white;
}