body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1e1e2f;
}

.nav {
    background-color: #2b2b40;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 60px;
    position: fixed;
    top: 0;
    z-index: 5;
}

.nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav a:hover {
    background-color: #2b2b40;
    color: #e1cc1a;
}

.nav-routes {
    margin-left: auto;
    display: flex;
    gap: 16px;
    align-items: center;
}

a.application-name {
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    white-space: nowrap;
    overflow: hidden;
}

main {
    margin-top: 100px;
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.card-container {
    position: relative;
    width: 300px;
    height: 400px;
    transform: scale(0.9);
    overflow: hidden;
}

.card-container:hover {
    transform: scale(1.0);
}

.character-image {
    position: relative;
    top: 70px;
    z-index: 1;
}

.card-image {
    position: absolute;
    left: 0;
    z-index:2;
}

.card-title {
    position: absolute;
    top: 0;
    z-index: 2;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width:90%;
    height: 1%;
}

.first-spell {
    position: absolute;
    top: 100px;
    left: 230px;
    z-index:3;
}

.faction-image {
    position: absolute;
    top: 100px;
    left: 230px;
    z-index:4;
}

.second-spell {
    position: absolute;
    top: 160px;
    left: 230px;
    z-index:3;
}

.second-faction-image {
    position: absolute;
    top: 160px;
    left: 230px;
    z-index:4;
}

.thirdSpell {
    position: absolute;
    top: 220px;
    left: 230px;
    z-index:3;
}

.third-faction-image {
    position: absolute;
    top: 220px;
    left: 230px;
    z-index:4;
}

.beast-image {
    position: absolute;
    top: 330px;
    left: 0;
    z-index:3;
    width: 50px;
}

.beast-faction-image {
    position: absolute;
    top: 330px;
    left: 0;
    z-index:4;
}